<article>
  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <% if @congrats %>
    <p><b><font color="green">Congratulations! Your account was created!</font></b></p>
  <% end %>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <% @toc.each do |section| %>
          <li><a href="#<%= slugify(section) %>"><%= section %></a></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= @body %>
</article>

<% if @article.topic == 'quickstart' %>
  <img src="http://crm.treasure-data.com/lead/view_quickstart_document" />
<% end %>

<% if ['java','ruby','python','php','perl','nodejs','scala','apache','td-agent-tail'].include?(@article.topic) %>
  <script type="text/javascript">mixpanel.register_once({app_lang: "<%= @article.topic %>"});</script>
  <img src="http://crm.treasure-data.com/lead/view_application_language?lang=<%= @article.topic %>" />
<% end %>

<script type="text/javascript">mixpanel.track("ViewArticle_<%= @article.topic %>");</script>
