<script type="text/javascript">var mpq=[];mpq.push(["init","a71e7fcd0b07e91e9c89cbcc1e528c79"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})(); mpq.track("ViewArticle_<%= @article.topic %>");</script>

<article>
  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <% @toc.each do |section| %>
          <li><a href="#<%= slugify(section) %>"><%= section %></a></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= @body %>
</article>

<% if @article.topic == 'quickstart' %>
<img src="http://crm.treasure-data.com/lead/view_quickstart_document" />
<% end %>
