<div id="page">
<div class="topic_content">

<article>
  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <%
          last_level = '2'
          last_section = ''
          last_anchor = ''
        %>
        <% @toc.each do |level, section, anchor| %>
        <% if level > last_level %>
        <li><a href="#<%= last_anchor %>"><%= last_section %></a>
          <ul id="toc_nested">
        <% elsif level < last_level %>
            <li><a href="#<%= last_anchor %>"><%= last_section %></a></li>
          </ul>
        </li>
        <% elsif level == last_level && level == "2" %>
        <%# skips the first where last_section == "" %>
        <% if last_section != "" %>
        <li><a href="#<%= last_anchor %>"><%= last_section %></a></li>
        <% end %>
        <% elsif level == last_level && last_level == "3" %>
            <li><a href="#<%= last_anchor %>"><%= last_section %></a></li>
        <% end %>
        <%
          last_level = level
          last_section = section
          last_anchor = anchor
        %>
        <% end %>
        <li><a href="#<%= last_anchor %>"><%= last_section %></a></li>
      </ul>
    </section>
  <% end %>
  <%= @body %>
  <hr size="1" style="margin-top: 10px; margin-bottom: 18px; color: rgba(0, 0, 0, .15);">
  <p>
    If this article is incorrect or outdated, or omits critical information, please <a href="http://www.treasuredata.com/contact.php">let us know</a>. For all other issues, please see our <a href="/articles/support-channels">support channels</a>. <a href="javascript:olark('api.box.expand');">Live chat</a> with our staffs also work well.
  </p>
</article>

<% if ['java','ruby','python','php','perl','nodejs','scala','analyzing-apache-logs','analyzing-twitter-data','td-agent-tail','heroku-ruby','heroku-rails','heroku-java','heroku-rest','engine-yard-ruby','engine-yard-rails'].include?(@article.topic) %>
  <script type="text/javascript">mixpanel.register_once({app_lang: "<%= @article.topic %>"});</script>
  <script type="text/javascript">mixpanel.track("ViewLang");</script>
<% end %>

<script type="text/javascript">mixpanel.track("ViewArticle_<%= @article.topic %>");</script>

<script type="text/javascript">
  _kmq.push(['record', 'View Documents', {'Article': '<%= @article.topic %>'}]);
</script>

</div><!-- /#topic_content -->
</div><!-- /#page -->
