<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title>JIRA Feedback | Treasure Data</title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category]).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <link rel="canonical" href="http://docs.treasuredata.com<%= request.fullpath %>" />
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>
</head>

<body>
  <script type="text/javascript" src="https://treasure-data.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USz0aoz0-1988229788/6211/62/1.4.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=eb749fe6">
  </script>
  <script type="text/javascript">
    function doItLater() {
      $('a#atlwdg-trigger.atlwdg-trigger.atlwdg-TOP')[0].click();
    }
    setTimeout(doItLater, 1000);
  </script>
</body>
</html>
