<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=h @title %> | Treasure Data</title>
  <meta name="description" content="<%= @desc %>">
  <link href="http://docs.treasure-data.com/favicon.ico" rel="icon" type="image/x-icon">
  <link href="http://docs.treasure-data.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link type="text/css" rel="stylesheet" href="/css/docs.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/library.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/base.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/mobile.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/header.css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.11.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>
  <!-- start Mixpanel -->
  <script type="text/javascript">
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
    for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("a71e7fcd0b07e91e9c89cbcc1e528c79");
  </script>
  <!-- end Mixpanel -->
  <!-- Google Webmaster -->
  <meta name="google-site-verification" content="yr7VYaA0N_rwCtUEdFHTmuip4W_bNPTc4XOGkMyj6Do" />
  <!-- Bing Webmaster -->
  <meta name="msvalidate.01" content="FA8C6A3FF6ADEE726950F238947D5295" />
</head>
<body>
  <div id="header">
  <center>
  <div id="td-header-inner">
  <h1 id="td-logo"><a href="http://treasure-data.com/">Treasure Data</a></h1>
          <ul id="td-nav">
          <li>
            <a href="http://treasure-data.com/about/">About</a>
          </li>
          <li>
            <a href="http://treasure-data.com/pricing/">Pricing</a>
          </li>
          <li>
            <a href="http://blog.treasure-data.com/">Blog</a>
          </li>
          <li>
            <a href="http://docs.treasure-data.com/">Docs</a>
          </li>
          <li>
            <a href="mailto:info@treasure-data.com">Contact</a>
          </li>
          <li>
              <a href="http://treasure-data.com/signup.html" class="td-signup">Sign Up</a>
          </li>
          <li>
             <a href="http://www.facebook.com/TreasureData" target="_blank"><img src="/images/facebook_icon_small.png" /></a>
             <a href="https://twitter.com/#!/TreasureData" target="_blank"><img src="/images/twitter_icon_small.png" /></a>
             <a href="http://www.linkedin.com/company/treasure-data-inc-" target="_blank"><img src="/images/linkedin_icon_small.png" /></a>
          </li>
        </ul>
  </div>
  </center>
  </div>

  <div id="sheet">
	<div class="wrapper">
	  <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
		<aside id="sidebar">
		  <section class="pie-clearfix pie-clearfix-ie" id="search">
			<div id="search">
			  <form action="/search">
				<p>
				  <input id="q" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%= params[:q] || '' %>" />
				</p>
			  </form>
			</div>
		  </section>
		  <select id="quicknav">
			<option value="/">Home</option>
			<% sections.each do |slug, title, categories| %>
			<optgroup label="<%=title %>">
			  <% categories.each do |slug, title, _| %>
			  <option value="/categories/<%= slug %>"><%=h title %></option>
			  <% end %>
			</optgroup>
			<% end %>
		  </select>
		  <ul id="nav">
			<% sections.each do |slug, title, categories| %>
			<li class="category-group">
			  <a class="category" href="#"><%= title %></a>
			  <ul class="tags">
				<% categories.each do |slug, title, _| %>
				<% if (params[:category] == slug) || (find_category(params[:article]) == slug) %>
				<li class="active"><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% else %>
				<li><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% end %>
				<% end %>
			  </ul>
			</li>
			<% end %>
		  </ul>
		</aside><!-- /#sidebar -->
		<section id="main">
		  <div id="page">
			<div class="topic_content">
			  <%= yield %>
			</div>
		  </div><!-- /#page -->
		</section><!-- /#main -->
		<script type="text/javascript">
		  // specify active tabindex
		  $("#nav .category-group").each(function(i){
										 if( 0 < $(this).children("ul.tags").children("li.active").length ){
											 activeNav = i;
										 };
									 });
		</script>
	  </div><!-- /#category -->
	</div><!-- /.wrapper -->
  </div><!-- /#sheet -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24890265-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- MixPanel -->
  <script type="text/javascript">
    (function(event_type, landing_page_type) {
      var query_string_pairs = location.search.substr(1).split('&');
      for (var i = 0; i < query_string_pairs.length; ++i) {
        if (query_string_pairs[i].substr(0, 7) == 'source=') {
          mixpanel.register_once({ source: query_string_pairs[i].substr(7) });
          break;
        }
      }
      if (landing_page_type) {
        mixpanel.register_once({landing: landing_page_type});
      }
      mixpanel.track(event_type);
    })('ViewDoc', 'docs');
  </script>

  <!-- HubSpot -->
  <script type="text/javascript">
  (function(d,s,i) {
  if (d.getElementById(i)){return;}
  var n = d.createElement(s),e = document.getElementsByTagName(s)[0];
  n.id=i;n.src = '//js.hubspot.com/analytics/184834.js';
  e.parentNode.insertBefore(n, e);
  })(document, "script", "hs-analytics");
  </script>

  <!-- LoopFuse -->
  <script src="http://lfov.net/webrecorder/js/listen.js" type="text/Javascript"></script>
  <script type="text/Javascript">
  _lf_cid = "LF_42dfe502";
  _lf_remora();
  </script>

  <!-- Inspectlet -->
  <script type="text/javascript" id="inspectletjs">
    var __insp = __insp || [];
    (function() {
    var a = window.onload;
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspect/2575155255.js'; document.getElementsByTagName("head")[0].appendChild(insp); }
    window.onload = (typeof window.onload != 'function') ? __ldinsp() : function() { a(); __ldinsp(); };
    })();
  </script>
</body>
</html>
