<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=h @title %> | <%= @env[:name] %></title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category]).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <link href="<%= @env[:favicon] %>" rel="icon" type="image/x-icon">
  <link href="<%= @env[:favicon] %>" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>

  <script type="text/javascript">
    !function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},s=["addRecord","set","trackEvent","trackPageview","ready"],n=0;n<s.length;n++){var i=s[n];e[t].prototype[i]=r(i)}var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//s3.amazonaws.com/td-cdn/sdk/td-1.2.0.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}}("Treasure",this);
    var td = new Treasure({
      writeKey: '1/450dbf5bcb9227b6d5df7cec427d113bc77127c3',
      database: 'js_console_production'
    });
    td.trackPageview('pageviews');
  </script>

  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>

  <!-- Google Webmaster -->
  <meta name="google-site-verification" content="yr7VYaA0N_rwCtUEdFHTmuip4W_bNPTc4XOGkMyj6Do" />

  <!-- Bing Webmaster -->
  <meta name="msvalidate.01" content="FA8C6A3FF6ADEE726950F238947D5295" />
</head>
<body>
  <div id="header">
  <div class="wrapper">
    <span id="td-logo" style="background: url('<%= @env[:logo] %>') no-repeat;"><a href="<%= @env[:url_doc] %>"></a></span>
    <div class="firefox-please-dont-remove-me">
    <ul id="td-nav">
      <li>
        <a href="<%= @env[:url_product] %>">Product</a>
      </li>
      <li>
        <a href="<%= @env[:url_customers] %>">Customers</a>
      </li>
      <li>
        <a href="<%= @env[:url_resources] %>">Resources</a>
      </li>
      <li>
        <a href="<%= @env[:url_about] %>">Company</a>
      </li>
      <li>
        <a href="<%= @env[:url_login] %>">Log In</a>
      </li>
      <li>
        <a class="td-signup" href="<%= @env[:url_signup] %>">
          Free Trial
        </a>
      </li>
    </ul>
    </div>
  </div>
  </div>

  <div id="sheet">
  <div class="wrapper">
    <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
    <aside id="sidebar">
      <section class="pie-clearfix pie-clearfix-ie" id="search">
      <div id="search">
        <form>
          <p>
            <input type="text" id="st-search-input"/>
          </p>
        </form>
        <script type="text/javascript">
          (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
          (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
          e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
          })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

          _st('install','<%= @env[:swiftype_key] %>');
        </script>
      </div>
      </section>
      <select id="quicknav">
      <option value="/">Home</option>
      <% sections.each do |slug, title, categories| %>
      <optgroup label="<%=title %>">
        <% categories.each do |slug, title, _| %>
        <option value="/categories/<%= slug %>"><%=h title %></option>
        <% end %>
      </optgroup>
      <% end %>
      </select>
      <ul id="nav">
      <% sections.each do |slug, title, categories| %>
      <li class="category-group">
        <a class="category" href="#"><%= title %></a>
        <ul class="tags">
        <% categories.each do |slug, title, _| %>
        <% if (params[:category] == slug) || (find_category(params[:article]) == slug) %>
        <li class="active"><a href="/categories/<%= slug %>"><%=h title %></a></li>
        <% else %>
        <li><a href="/categories/<%= slug %>"><%=h title %></a></li>
        <% end %>
        <% end %>
        </ul>
      </li>
      <% end %>
      </ul>
      <section id="search">
        <div>
        <a href='#' target="_blank"><div id="pdf-download">Download as PDF</div></a>
        </div>
      </section>

      <section class="pie-clearfix pie-clearfix-ie">
      </section>
      <div id='pdf-modal' class='modal'>
        <div class='modal-head'>Download Documentation in PDF Format</div>
        <div class='modal-content'>
          <script src="//app-ab04.marketo.com/js/forms2/js/forms2.js"></script>
          <form id="mktoForm_1054"></form>
          <script>MktoForms2.loadForm("//app-ab04.marketo.com", "714-XIJ-402", 1054);</script>
        </div>
      </div>
      <div id='hiveguide-modal' class='modal'>
        <div class='modal-head'>Download Hive Guide in PDF Format</div>
        <div class='modal-content'>
          <script src="//app-ab04.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_1258"></form>
          <script>MktoForms2.loadForm("//app-ab04.marketo.com", "714-XIJ-402", 1258);</script>
        </div>
      </div>
    </aside><!-- /#sidebar -->
    <section id="main">
        <%= yield %>
    </section><!-- /#main -->
    <script type="text/javascript">
      // specify active tabindex
      $("#nav .category-group").each(function(i){
                     if( 0 < $(this).children("ul.tags").children("li.active").length ){
                       activeNav = i;
                     };
                   });
    </script>
    </div><!-- /#category -->
  </div><!-- /.wrapper -->
  </div><!-- /#sheet -->

  <!-- Google Analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24890265-2']);
  _gaq.push(['_setDomainName', 'treasuredata.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <!-- Google Code for TD website visitors Remarketing List -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1009909590;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8VZbCLqr0QIQ1v7H4QM";
  var google_conversion_value = 0;
  /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=8VZbCLqr0QIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>

  <!-- Marketo Munchkin -->
  <script type="text/javascript">
    document.write(unescape("%3Cscript src='//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script>Munchkin.init('714-XIJ-402');</script>

  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
  <!-- Dropdown for older browsers -->
  <script type="text/javascript" language="javascript" src="http://www.treasuredata.com/javascripts/jquery.dropdown.js">
  </script>
</body>
</html>
