<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="verify-v1" content="J75JQ+WGFRjBEnhNT4hhYxgVTQmRHjd0v3JF+izUFvA=" />
  <title><%=h @title %> | Treasure Data</title>
  <link type="text/css" rel="stylesheet" href="/css/docs.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/coderay.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/library.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/base.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/mobile.css" media="screen" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/header.css" media="screen" />
  <script type="text/javascript" src="/javascripts/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.11.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>

  <!-- Mixpanel -->
  <script type="text/javascript">var mpq=[];mpq.push(["init","a71e7fcd0b07e91e9c89cbcc1e528c79"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})(); mpq.track("ViewDoc");</script>
</head>
<body>
  <div id="heroku-header">
    <div id="heroku-header-hgroup">
      <h1><a href="/">Treasure Data</a></h1>
    </div>
    <div id="heroku-header-nav">
      <ul class="group">
		<li><a href="http://treasure-data.com/">Company</a></li>
		<li><a href="http://blog.treasure-data.com/">Blog</a></li>
		<li class="last"><a href="http://help.treasure-data.com/discussions">Support</a></li>
      </ul>
      <!--
	  <ul class="last group" id="heroku-header-my-heroku">
	    <li class="last"><a href="https://api.heroku.com/login/">Login</a></li>
	  </ul>
	  -->
    </div>
  </div>

  <div id="sheet">
	<div class="wrapper">
	  <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
		<aside id="sidebar">
		  <section class="pie-clearfix pie-clearfix-ie" id="search">
			<div id="search">
			  <form action="/search">
				<p>
				  <input id="q" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%= params[:q] || '' %>" />
				</p>
			  </form>
			</div>
		  </section>
		  <select id="quicknav">
			<option value="/">Home</option>
			<% sections.each do |slug, title, categories| %>
			<optgroup label="<%=title %>">
			  <% categories.each do |slug, title, _| %>
			  <option value="/categories/<%= slug %>"><%=h title %></option>
			  <% end %>
			</optgroup>
			<% end %>
		  </select>
		  <ul id="nav">
			<% sections.each do |slug, title, categories| %>
			<li class="category-group">
			  <a class="category" href="#"><%= title %></a>
			  <ul class="tags">
				<% categories.each do |slug, title, _| %>
				<% if (params[:category] == slug) || (find_category(params[:article]) == slug) %>
				<li class="active"><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% else %>
				<li><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% end %>
				<% end %>
			  </ul>
			</li>
			<% end %>
		  </ul>
		</aside><!-- /#sidebar -->
		<section id="main">
		  <div id="page">
			<div class="topic_content">
			  <%= yield %>
			</div>
		  </div><!-- /#page -->
		</section><!-- /#main -->
		<script type="text/javascript">
		  // specify active tabindex
		  $("#nav .category-group").each(function(i){
										 if( 0 < $(this).children("ul.tags").children("li.active").length ){
											 activeNav = i;
										 };
									 });
		</script>
	  </div><!-- /#category -->
	</div><!-- /.wrapper -->
  </div><!-- /#sheet -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24890265-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
